<div class="container signin-page">
  <div class="col-sm-8"></div>
  <div class='col-sm-4 logo'></div>
  <div class="clearfix"></div>
  <div class="col-sm-8">
    <img src="http://newsnetwork-bd.org/newsletter/wp-content/uploads/2016/09/icfj-1.png" width="70px;">
    <br>
    <br>
    <div class="page-title" style="font-weight: bold; font-size: 48px; color: black;">Impact Tracker</div>
  </div>
  <div class='col-sm-4'>
    <div class="card" style="width: 100%;">
      <h2>Sign in</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, required: false, autofocus: true %>
          <%= f.input :password, required: false %>
        </div>

        <div class="form-actions">
          <%= f.button :submit,"Sign in" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
      <div class="credits">Made with <span class='heart'>&#9829</span> for <a href="http://www.icfj.org/" target="blank">ICFJ</a> by <a href="https://pykih.com/" target="blank">Pykih</a></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var errors = <%= resource.errors.full_messages.to_json.html_safe %>;
  errors.forEach(function(d) {
    generate_notify({text: d, notify: "error"})
  });
</script>