<div class="search-area">
  <div class="page-title">Search</div>
  <div class="search-input">
    <input type="text" class="content-asset-search" name="search-content" placeholder="Content asset"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  </div>
  <div class="custom-btn">Search</div>
</div>
<br>
<br>
<div class="page-title" style="margin-left: 15px;">Show</div>
<ul class="nav nav-pills nav-stacked">
  <li class="<%= action_name == 'all' ? 'active' : nil %>">
    <a href=<%= all_digital_asset_path %>> All</a>
  </li>
  <li class="<%= action_name == 'errored' ? 'active' : nil %>">
    <a href=<%= errored_digital_asset_path %>> Errored <span class="indication-dot indication-dot-red"></span></a>
  </li>
  <li class="<%= action_name == 'successful' ? 'active' : nil %>">
    <a href=<%= successful_digital_asset_path %>> Successful <span class="indication-dot indication-dot-green"></span></a>
  </li>
  <li class="<%= action_name == 'with_no_data' ? 'active' : nil %>">
    <a href=<%= digital_asset_with_no_data_path %>>With no data <span class="indication-dot indication-dot-grey"></span></a>
  </li>
</ul>