<!DOCTYPE html>
<html>
<head>
  <title>Impact Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% unless controller_name == 'sessions'%>
    <%= render partial: "layouts/header" %>
  <% end  %>
  <div class='body'>
    <%= yield %>
  </div>

  <% config = {} %>
  <% if notice.present? %>
    <% config = {text: notice, notify: "success"} %>
  <% end %>
  <% if alert.present? %>
    <% config = {text: alert, notify: "error"} %>
  <% end %>

  <script type="text/javascript">
    var notice = <%= config.to_json.html_safe %>;
    if (notice.notify){
      generate_notify(notice);
    }
  </script>
</body>
</html>
